In [8]:
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
import icu as icu
import pandas as pd
import numpy as np

num_patients = 10
DEF_EPISODES = 10

In [2]:
def f(x):
    global num_patients
    num_patients = x
    
interact(f,x=widgets.IntSlider(min=10,max=100000,step=100,value=10))

In [3]:
patients = icu.icusim(num_patients)

In [4]:
patients.indexes

['icustayid']

In [5]:
patients.df

,bloc,charttime,gender,age,elixhauser,re_admission,SOFA,SIRS,Weight_kg,GCS,...,input_total_tev,input_4hourly_tev,output_total,output_4hourly,cumulated_balance_tev,sedation,mechvent,rrt,died_in_hosp,mortality_90d
icustayid,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
len(patients.columns)

58

In [13]:
df = pd.DataFrame(np.random.randn(1,len(patients.columns)),index=patients.indexes, columns=patients.columns)

In [14]:
df

,bloc,charttime,gender,age,elixhauser,re_admission,SOFA,SIRS,Weight_kg,GCS,...,input_total_tev,input_4hourly_tev,output_total,output_4hourly,cumulated_balance_tev,sedation,mechvent,rrt,died_in_hosp,mortality_90d
icustayid,-0.237747,0.051212,-0.034675,-0.156826,-0.045799,-0.849748,-0.193277,1.63576,0.526048,0.829435,...,1.173221,0.515502,0.222728,0.969852,-1.478408,0.669061,0.345033,1.101829,1.033117,-0.144037

In [28]:
df2 = pd.DataFrame(np.random.randn(num_patients,len(patients.columns)), columns=patients.columns)

In [31]:
df2.index.names = patients.indexes

In [32]:
df2

,bloc,charttime,gender,age,elixhauser,re_admission,SOFA,SIRS,Weight_kg,GCS,...,input_total_tev,input_4hourly_tev,output_total,output_4hourly,cumulated_balance_tev,sedation,mechvent,rrt,died_in_hosp,mortality_90d
icustayid,,,,,,,,,,,,,,,,,,,,,
0,1.600164,-0.041865,2.205346,1.891588,0.313676,-1.822975,-1.645871,0.856339,-0.284997,2.517557,...,-0.716139,-0.939580,1.017969,-0.331576,0.307065,-0.476347,-1.015085,-2.162796,-1.095127,-1.355011
1,0.826042,1.266557,-0.288340,0.059953,0.364319,-0.355724,-0.223737,1.431756,-0.401026,1.431699,...,-0.152529,0.476931,-0.350529,1.378732,0.957084,0.051340,0.361609,-0.706671,0.049446,0.840703
2,-2.541786,-0.749623,1.997475,0.222851,-0.364517,0.408132,-1.089789,0.609661,0.303554,1.392340,...,1.016636,-0.871706,-2.030226,-0.265075,0.941059,0.830107,0.466484,1.283692,-0.736755,-0.772642
3,-0.508640,-1.409987,0.678715,-1.535699,-0.921710,0.202290,0.835123,-0.146916,0.442767,1.012734,...,0.716360,-0.753425,1.622405,0.011816,0.382684,-0.593164,1.153208,0.089370,-1.250703,1.351641
4,0.715802,0.016308,0.577415,-0.709698,-1.026908,0.740763,-0.630255,-0.188194,-0.432469,-0.118883,...,-0.695179,-1.336587,-2.955868,0.882858,-0.552694,0.228154,-1.357134,-0.285177,-0.655122,-0.073275
5,-0.813197,-0.051319,-0.627276,-0.862427,-0.301938,-0.668961,-0.307855,1.189056,-1.400118,-0.651707,...,0.627160,0.790325,-1.548253,2.137271,0.402168,1.277252,0.766779,-1.176177,-0.744330,-1.270589
6,0.558522,-0.519388,1.006679,-0.465167,0.720562,0.090251,-1.941699,-0.548608,1.975095,0.411063,...,-2.406408,-0.955496,-0.398672,-1.116021,0.671777,-0.338021,-0.353541,-0.060234,-1.025079,-0.106097
7,-1.025108,-1.382250,-2.287290,0.188588,0.826817,0.446300,-0.980903,0.422541,-1.635978,0.872902,...,0.464356,-0.542037,-0.204544,-0.507820,0.182736,0.922003,-2.031108,1.011026,0.044223,-0.685558
8,-0.296134,0.918797,0.509913,-0.326491,0.205254,-1.411343,0.150888,-0.178262,-0.232272,1.689862,...,-3.034167,1.008381,1.235360,0.012583,-1.110006,-0.830826,-0.917970,-0.340706,1.083490,-2.566719
9,0.589320,1.573093,2.297871,0.115433,0.057650,-0.057239,1.311776,-1.187382,-0.603018,0.170195,...,-3.058661,0.294509,0.388885,-0.253027,0.521621,-0.599612,1.165615,-0.260150,-0.262781,-1.598232

In [33]:
df3 =  pd.DataFrame(columns=patients.columns)

In [40]:
x = df3['bloc'].max()
x += 1

In [44]:
x == np.nan

False

In [45]:
x

nan

In [46]:
np.isnan(x)

True

In [49]:
np.random.randint(2,20)

15

In [50]:
arr = []

In [53]:
arr.append([1,2,3])

In [57]:
bloc = 1
custid =2

In [58]:
arr.append([bloc,custid,np.random.randn(1,len(patients.columns)-2)])

In [69]:
values = np.random.randn(1,len(patients.columns)-2)
values = np.insert(values, 0, bloc,axis=1)
values = np.insert(values, 1, custid, axis=1)

In [72]:
len(values[0])

58

In [76]:
v = np.array([bloc,custid])
v = np.append(v,np.random.randn(1,len(patients.columns)-2))

In [77]:
v

array([ 1.        ,  2.        ,  0.31855643, -0.51518804, -0.15681587,
       -1.02429723,  0.95413979, -0.01468414,  2.88010515,  1.08924052,
       -0.64836615,  0.90651268,  1.05625619,  0.49072812, -0.04069055,
       -0.28432502,  3.88248382,  1.61087012, -1.41018821, -0.62031688,
       -1.28618025,  0.58629888,  1.11874353,  2.59743496,  0.35140324,
       -0.50036596,  0.40597186,  0.26732813,  1.0791136 , -0.41773784,
        0.68672532,  1.0733418 , -1.40054018,  1.39265239,  1.66598319,
       -0.96131814,  0.36381473,  0.39705225, -1.6663638 , -0.29192413,
        0.35374685,  0.21546332, -0.94684434, -0.24483027,  0.01567978,
        1.35437584, -1.11463892,  0.01610202, -0.12987935,  0.20516833,
        1.98463689, -1.64391531, -1.28277846, -0.86093769, -1.48632511,
       -0.64027518,  0.13963672, -2.01198388])

In [78]:
len(v)

58

In [87]:
df3.loc[custid*100+bloc] = v

In [88]:
df3

,bloc,charttime,gender,age,elixhauser,re_admission,SOFA,SIRS,Weight_kg,GCS,...,input_total_tev,input_4hourly_tev,output_total,output_4hourly,cumulated_balance_tev,sedation,mechvent,rrt,died_in_hosp,mortality_90d
-1,1.0,2.0,0.318556,-0.515188,-0.156816,-1.024297,0.95414,-0.014684,2.880105,1.089241,...,-0.129879,0.205168,1.984637,-1.643915,-1.282778,-0.860938,-1.486325,-0.640275,0.139637,-2.011984
201,1.0,2.0,0.318556,-0.515188,-0.156816,-1.024297,0.95414,-0.014684,2.880105,1.089241,...,-0.129879,0.205168,1.984637,-1.643915,-1.282778,-0.860938,-1.486325,-0.640275,0.139637,-2.011984

In [108]:
n = 16
gender = np.random.choice([0,1])
values = {'bloc':list(range(n)), 'custid':[custid]*n, 'gender':[gender]*n}

In [109]:
values

{'bloc': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 'custid': [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
 'gender': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}

In [129]:
from_dict = pd.DataFrame(values)
df4 = pd.concat([df3, from_dict]) #default axis = 0

In [131]:
df4['SOFA']

-1       0.95414
 201     0.95414
 0      12.00000
 1      12.00000
 2      12.00000
 3      12.00000
 4      12.00000
 5      12.00000
 6      12.00000
 7      12.00000
 8      12.00000
 9      12.00000
 10     12.00000
 11     12.00000
 12     12.00000
 13     12.00000
 14     12.00000
 15     12.00000
Name: SOFA, dtype: float64

In [133]:
values['SOFA'] = [12] * n
values['charttime'] = list(range(4570416000,4570416000 + (n *14400), 14400))

In [134]:
values

{'SOFA': [12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12],
 'bloc': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 'charttime': [4570416000,
  4570430400,
  4570444800,
  4570459200,
  4570473600,
  4570488000,
  4570502400,
  4570516800,
  4570531200,
  4570545600,
  4570560000,
  4570574400,
  4570588800,
  4570603200,
  4570617600,
  4570632000],
 'custid': [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
 'gender': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}