### sparse Autoencoder for states

In [1]:
import tensorflow as tf
import keras
import numpy as np
import math
import os
import random
import numpy as np
import pandas as pd
from pandas import DataFrame
import pickle
import math
import copy
from sklearn.model_selection import train_test_split
import pandas as pd

Using TensorFlow backend.

In [2]:
state_features = ['Albumin', 'Arterial_BE', 'Arterial_lactate', 'Arterial_pH', 'BUN', 'CO2_mEqL', 'Calcium', 'Chloride', 'Creatinine', 'DiaBP', 'FiO2_1', 'GCS', 'Glucose', 'HCO3', 'HR', 'Hb', 'INR', 'Ionised_Ca', 'Magnesium', 'MeanBP', 'PT', 'PTT', 'PaO2_FiO2', 'Platelets_count', 'Potassium', 'RR', 'SGOT', 'SGPT', 'SIRS', 'SOFA', 'Shock_Index', 'Sodium', 'SpO2', 'SysBP', 'Temp_C', 'Total_bili', 'WBC_count', 'Weight_kg', 'age', 'elixhauser', 'gender', 'mechvent', 'output_4hourly', 'output_total', 'paCO2', 'paO2', 're_admission']
print (state_features)

['Albumin', 'Arterial_BE', 'Arterial_lactate', 'Arterial_pH', 'BUN', 'CO2_mEqL', 'Calcium', 'Chloride', 'Creatinine', 'DiaBP', 'FiO2_1', 'GCS', 'Glucose', 'HCO3', 'HR', 'Hb', 'INR', 'Ionised_Ca', 'Magnesium', 'MeanBP', 'PT', 'PTT', 'PaO2_FiO2', 'Platelets_count', 'Potassium', 'RR', 'SGOT', 'SGPT', 'SIRS', 'SOFA', 'Shock_Index', 'Sodium', 'SpO2', 'SysBP', 'Temp_C', 'Total_bili', 'WBC_count', 'Weight_kg', 'age', 'elixhauser', 'gender', 'mechvent', 'output_4hourly', 'output_total', 'paCO2', 'paO2', 're_admission']

In [3]:
train_df = pd.read_csv('../../data/train_scaled.csv')

In [4]:
train_df.head()

,bloc,icustayid,gender,age,elixhauser,re_admission,SOFA,SIRS,Weight_kg,GCS,...,output_4hourly,cumulated_balance_tev,sedation,mechvent,rrt,died_in_hosp,mortality_90d,reward,vaso_input,iv_input
0,0.000000,12.0,1.0,0.203388,0.000000,0.0,0.304348,0.25,0.183842,1.000000,...,0.000000,0.177479,0.0,0.0,0.0,0.0,0.0,15.0,0.0,0.0
1,0.222560,12.0,1.0,0.203388,0.000000,0.0,0.130435,0.50,0.183842,1.000000,...,0.782139,0.175772,0.0,0.0,0.0,0.0,0.0,15.0,0.0,0.0
2,0.356608,12.0,1.0,0.203388,0.000000,0.0,0.086957,0.50,0.183842,1.000000,...,0.767260,0.174328,0.0,0.0,0.0,0.0,0.0,15.0,0.0,0.0
3,0.452837,12.0,1.0,0.203388,0.000000,0.0,0.217391,0.50,0.183842,1.000000,...,0.000000,0.174328,0.0,0.0,0.0,0.0,0.0,15.0,0.0,0.0
4,0.000000,14.0,0.0,0.909010,0.142857,0.0,0.217391,0.50,0.204211,0.047619,...,0.657302,0.179999,1.0,1.0,0.0,0.0,1.0,15.0,0.0,4.0

In [5]:
keys = train_df.keys()

In [6]:
test_df = pd.read_csv('../../data/test_scaled.csv')

In [7]:
test_df.head()

,bloc,icustayid,gender,age,elixhauser,re_admission,SOFA,SIRS,Weight_kg,GCS,...,output_4hourly,cumulated_balance_tev,sedation,mechvent,rrt,died_in_hosp,mortality_90d,reward,vaso_input,iv_input
0,0.000000,61.0,0.0,0.3779,0.230769,0.0,0.545455,0.75,0.926956,0.40625,...,0.000000,0.601591,0.0,0.0,0.0,0.0,0.0,15.0,0.0,4.0
1,0.222560,61.0,0.0,0.3779,0.230769,0.0,0.363636,0.75,0.926956,0.37500,...,0.747928,0.607028,0.0,0.0,0.0,0.0,0.0,15.0,0.0,4.0
2,0.356608,61.0,0.0,0.3779,0.230769,0.0,0.363636,1.00,0.926956,0.34375,...,0.713579,0.611279,0.0,0.0,0.0,0.0,0.0,15.0,0.0,4.0
3,0.452837,61.0,0.0,0.3779,0.230769,0.0,0.318182,1.00,0.926956,0.31250,...,0.711891,0.615618,0.0,0.0,0.0,0.0,0.0,15.0,0.0,4.0
4,0.527957,61.0,0.0,0.3779,0.230769,0.0,0.318182,1.00,0.926956,0.28125,...,0.726051,0.619879,0.0,0.0,0.0,0.0,0.0,15.0,0.0,4.0

In [8]:
X_train, X_val, _, _ = train_test_split(train_df, train_df, test_size=0.2, random_state=42)

In [9]:
training_df = pd.DataFrame(X_train, columns=keys)
validating_df = pd.DataFrame(X_val, columns=keys)

In [10]:
training_df.sample(2).loc[:,state_features].head()

,Albumin,Arterial_BE,Arterial_lactate,Arterial_pH,BUN,CO2_mEqL,Calcium,Chloride,Creatinine,DiaBP,...,Weight_kg,age,elixhauser,gender,mechvent,output_4hourly,output_total,paCO2,paO2,re_admission
91646,0.336170,0.379562,0.093291,0.601053,0.400233,0.192857,0.397906,0.607895,0.223964,0.536000,...,0.216158,0.582962,0.142857,1.0,0.0,0.741095,0.764698,0.131932,0.106331,1.0
63425,0.624928,0.462774,0.065095,0.676842,0.360399,0.239796,0.424084,0.607895,0.223964,0.642353,...,0.179174,0.532249,0.357143,1.0,1.0,0.822710,0.648245,0.154699,0.324173,0.0

In [11]:
n_input = len(state_features)
n_hidden_1 = 200
weights = {
    'encoder_h1': tf.Variable(tf.random_normal([n_input, n_hidden_1])),
    'decoder_h1': tf.Variable(tf.random_normal([n_hidden_1, n_input])),
}
biases = {
    'encoder_b1': tf.Variable(tf.zeros([n_hidden_1])),
    'decoder_b1': tf.Variable(tf.zeros([n_input])),
}

In [12]:
class AutoEncoder:
    def __init__(self):
        self.input_size = n_input
        self.batch_size = tf.placeholder(tf.int32)
        self.sparsity_dist = tf.fill([self.batch_size, n_hidden_1], 0.05)
        self.X = tf.placeholder("float", [None, self.input_size])
        self.layer_1_a = tf.nn.sigmoid(tf.add(tf.matmul(self.X, weights['encoder_h1']),
                                   biases['encoder_b1']))
        self.layer_1_d = tf.nn.sigmoid(tf.add(tf.matmul(self.layer_1_a, weights['decoder_h1']),
                                   biases['decoder_b1']))
        self.target_y = self.X
        self.kl = tf.reduce_mean(tf.reduce_sum(tf.multiply(self.sparsity_dist, tf.log(self.sparsity_dist/self.layer_1_a)) + \
                                   tf.multiply((1-self.sparsity_dist),tf.log((1-self.sparsity_dist)/(1-self.layer_1_a))), axis =1))
        #self.kl = tf.reduce_mean(tf.contrib.keras.losses.kullback_leibler_divergence(self.sparsity_dist, self.layer_1_a))  
    # regularisation term logic - loss at the start is roughly 60, of this 0.5 is reconstruction loss.  
        self.loss = tf.reduce_mean(tf.pow(self.target_y - self.layer_1_d, 2)) + 0.0001 * self.kl
        #tf.summary.scalar('loss', self.loss)
        #self.accuracy = tf.reduce_mean(tf.metrics.accuracy(self.layer_1_d, self.target_y))
        #tf.summary.scalar('acc', self.acc)
        #self.loss = tf.reduce_mean(tf.pow(self.target_y - self.layer_1_d, 2))
        self.optimizer = tf.train.AdamOptimizer(learning_rate=1e-4).minimize(self.loss)

In [13]:
def eval_on_val():
    x = validating_df.loc[:,state_features]
    l = sess.run([autoencoder.loss], feed_dict={autoencoder.X:x, autoencoder.batch_size:X_val.shape[0]})
    print ("validation loss is: ", l)

In [14]:
batch_size = 100
autoencoder = AutoEncoder()
#tf.summary.scalar('loss', autoencoder.loss)
# tf.summary.scalar('acc', autoencoder.acc)
#merged = tf.summary.merge_all()
saver = tf.train.Saver()

init = tf.global_variables_initializer()

with tf.Session() as sess:
    #writer = tf.summary.FileWriter('logs/sparse_auto', sess.graph)
    sess.run(init)
    # Training cycle
    for step in range(100000):
        #sum_loss = 0
        a = training_df.sample(n=batch_size)
        cur_state = a.loc[:, state_features]
        _, l = sess.run([autoencoder.optimizer, autoencoder.loss], feed_dict={autoencoder.X:cur_state, autoencoder.batch_size : batch_size})
        #sum_loss += l
        #writer.add_summary(summary, step)
        if step % 1000==0 and step > 0:
            print ("step is ", step )
            #print ("total loss is ", sum_loss)
            print ("total loss is ", l)
            sum_loss = 0
        if step % 20000 == 0 and step >0:
            b = training_df.sample(n=1)
            cur_state_trial = b.loc[:, state_features]
            target_y, reconstruction = sess.run([autoencoder.target_y,autoencoder.layer_1_d],feed_dict={autoencoder.X:cur_state_trial})
            print (reconstruction)
            print (target_y)
        if step % 20000 == 0 and step >0:
            eval_on_val()
    #save_path = saver.save(sess, "sparse_autoencoder_model/model.ckpt")
    #print ('model saved to ', save_path)
    train_states = train_df.loc[:,state_features]
    train_repr = sess.run([autoencoder.layer_1_a], feed_dict={autoencoder.X:train_states})

    train_autoencode = pd.DataFrame(train_repr[0])
    train_autoencode['vaso_input'] = train_df['vaso_input']
    train_autoencode['iv_input'] = train_df['iv_input']
    train_autoencode['reward'] = train_df['reward']
    train_autoencode['icustayid'] = train_df['icustayid']

    test_states = test_df.loc[:,state_features]
    test_repr = sess.run([autoencoder.layer_1_a], feed_dict={autoencoder.X:test_states})
    test_autoencode = pd.DataFrame(test_repr[0])
    test_autoencode['vaso_input'] = test_df['vaso_input']
    test_autoencode['iv_input'] = test_df['iv_input']
    test_autoencode['reward'] = test_df['reward']
    test_autoencode['icustayid'] = test_df['icustayid']

step is  1000
total loss is  0.092907
step is  2000
total loss is  0.0700562
step is  3000
total loss is  0.0558024
step is  4000
total loss is  0.0469554
step is  5000
total loss is  0.0392559
step is  6000
total loss is  0.0310955
step is  7000
total loss is  0.0270705
step is  8000
total loss is  0.0225123
step is  9000
total loss is  0.0195399
step is  10000
total loss is  0.0166736
step is  11000
total loss is  0.0149521
step is  12000
total loss is  0.0125755
step is  13000
total loss is  0.0121986
step is  14000
total loss is  0.0104676
step is  15000
total loss is  0.00856115
step is  16000
total loss is  0.0072482
step is  17000
total loss is  0.00773185
step is  18000
total loss is  0.0069851
step is  19000
total loss is  0.00533257
step is  20000
total loss is  0.00513382
[[ 0.55763751  0.35801414  0.17168963  0.60590547  0.63653612  0.23511882
   0.39851338  0.54589075  0.31332004  0.50625432  0.23070888  0.91541302
   0.16404289  0.20515084  0.37928942  0.44377631  0.4248527   0.33780235
   0.31784382  0.34455699  0.05492731  0.29161432  0.19331022  0.06923751
   0.35756689  0.37989214  0.32037124  0.37530529  0.04966732  0.09945879
   0.02138049  0.67759567  0.82723498  0.45540091  0.84469867  0.2192468
   0.02026535  0.37677589  0.88879424  0.46408492  0.01340864  0.00916455
   0.89659584  0.85550719  0.1972743   0.10279712  0.01829298]]
[[ 0.52127659  0.47445256  0.21289873  0.65263158  0.59124994  0.26530612
   0.45026177  0.60789472  0.37684327  0.52188236  0.24050634  0.83333331
   0.09779688  0.16901408  0.41836736  0.47803944  0.49406981  0.33694702
   0.2820513   0.39786097  0.0520979   0.18240741  0.0723607   0.07594936
   0.26506025  0.30638298  0.44809923  0.45756239  0.          0.17391305
   0.03267681  0.60869563  0.8070094   0.49046716  0.8072964   0.22614966
   0.0091179   0.3459605   0.930619    0.42857143  0.          0.
   0.98656416  0.91124761  0.19264448  0.13525181  0.        ]]
validation loss is:  [0.0051029427]
step is  21000
total loss is  0.00452727
step is  22000
total loss is  0.00434793
step is  23000
total loss is  0.00378689
step is  24000
total loss is  0.00326561
step is  25000
total loss is  0.00312425
step is  26000
total loss is  0.00275842
step is  27000
total loss is  0.00253775
step is  28000
total loss is  0.00206538
step is  29000
total loss is  0.00199664
step is  30000
total loss is  0.00206311
step is  31000
total loss is  0.00182699
step is  32000
total loss is  0.00191321
step is  33000
total loss is  0.00164475
step is  34000
total loss is  0.0013599
step is  35000
total loss is  0.00139123
step is  36000
total loss is  0.00130843
step is  37000
total loss is  0.00132155
step is  38000
total loss is  0.00130751
step is  39000
total loss is  0.0010574
step is  40000
total loss is  0.00111702
[[ 0.47102961  0.53875321  0.04998585  0.66758311  0.52480268  0.30404189
   0.42573014  0.40842161  0.33708674  0.57681769  0.22410335  0.29137444
   0.12603547  0.20842807  0.41313788  0.52351987  0.5193451   0.32452083
   0.22248697  0.41997537  0.05041306  0.18585013  0.0629326   0.0684655
   0.25742251  0.30476907  0.36148682  0.39955077  0.21895373  0.30159208
   0.03550426  0.52446765  0.93068838  0.38675964  0.8255316   0.30937967
   0.01727666  0.28870854  0.87324101  0.42274335  0.98523802  0.99275345
   0.64420962  0.556669    0.25271887  0.12760179  0.97393531]]
[[ 0.45744681  0.53284669  0.05917722  0.65263158  0.50719327  0.30952382
   0.42146596  0.39078948  0.32498303  0.53882354  0.24050634  0.33333334
   0.12484328  0.21244131  0.42346939  0.51484436  0.51616806  0.30170152
   0.23290598  0.39215687  0.06060606  0.22088477  0.05542522  0.06388186
   0.2570281   0.30947775  0.39207706  0.436445    0.25        0.30434781
   0.03857325  0.52033663  0.92384624  0.42055956  0.82164663  0.31826198
   0.01692819  0.28007182  0.92185009  0.42857143  1.          1.
   0.65155631  0.5710066   0.24518389  0.10359712  1.        ]]
validation loss is:  [0.0011562504]
step is  41000
total loss is  0.00111992
step is  42000
total loss is  0.000920881
step is  43000
total loss is  0.000897444
step is  44000
total loss is  0.000989857
step is  45000
total loss is  0.00091707
step is  46000
total loss is  0.00103924
step is  47000
total loss is  0.00097229
step is  48000
total loss is  0.000814133
step is  49000
total loss is  0.000814651
step is  50000
total loss is  0.000835143
step is  51000
total loss is  0.000742413
step is  52000
total loss is  0.000818113
step is  53000
total loss is  0.000682716
step is  54000
total loss is  0.000741302
step is  55000
total loss is  0.00081096
step is  56000
total loss is  0.000676571
step is  57000
total loss is  0.000699444
step is  58000
total loss is  0.000727976
step is  59000
total loss is  0.000697187
step is  60000
total loss is  0.000622138
[[ 0.47110623  0.62321776  0.05721948  0.70161593  0.66599458  0.3422986
   0.4840875   0.39192295  0.35720214  0.4315117   0.52757531  0.95888567
   0.25659966  0.24577594  0.37840065  0.44284284  0.47770071  0.30138105
   0.29706281  0.44197395  0.05539442  0.43157896  0.05837397  0.08607315
   0.26166493  0.30853483  0.48185053  0.53918356  0.24125688  0.16249432
   0.02571985  0.53173804  0.92951554  0.53767788  0.80825001  0.35970473
   0.01934584  0.32414317  0.76181763  0.50056487  0.02284848  0.00492413
   0.80114722  0.80863392  0.27526024  0.1391778   0.00995865]]
[[ 0.48595744  0.63503647  0.03829114  0.70526314  0.65357488  0.32653061
   0.486911    0.3618421   0.33368316  0.40000001  0.49367088  1.
   0.26998627  0.26447573  0.36451247  0.44792634  0.47171101  0.3073408
   0.29487181  0.48663101  0.03706294  0.44876543  0.03387097  0.0764557
   0.26506025  0.33870623  0.48250353  0.51294965  0.25        0.13043478
   0.02717423  0.53295934  0.9689588   0.51386249  0.80387968  0.36417508
   0.02396098  0.32351884  0.74542964  0.5         0.          0.
   0.79547715  0.82791179  0.28021017  0.09496403  0.        ]]
validation loss is:  [0.00065758452]
step is  61000
total loss is  0.000688206
step is  62000
total loss is  0.000592465
step is  63000
total loss is  0.00057035
step is  64000
total loss is  0.000592489
step is  65000
total loss is  0.000679043
step is  66000
total loss is  0.000594474
step is  67000
total loss is  0.000559005
step is  68000
total loss is  0.000559696
step is  69000
total loss is  0.000481859
step is  70000
total loss is  0.000570616
step is  71000
total loss is  0.000548643
step is  72000
total loss is  0.000562756
step is  73000
total loss is  0.000515816
step is  74000
total loss is  0.000512386
step is  75000
total loss is  0.000519585
step is  76000
total loss is  0.000536757
step is  77000
total loss is  0.000465447
step is  78000
total loss is  0.000516983
step is  79000
total loss is  0.000465622
step is  80000
total loss is  0.000535833
[[ 0.55295259  0.44876227  0.04483324  0.65441179  0.55464053  0.23729302
   0.41163623  0.5249114   0.30476525  0.49864718  0.36299625  0.965123
   0.11296041  0.15322173  0.4721365   0.57506305  0.50560308  0.33558804
   0.28940824  0.49047375  0.04416631  0.19149479  0.07322084  0.06768513
   0.37093818  0.37552109  0.34044987  0.36624861  0.79480535  0.12828591
   0.02734821  0.46284997  0.91130221  0.42711809  0.80086845  0.3051199
   0.02610978  0.20970672  0.93701082  0.32804707  0.01641116  0.9879446
   0.67277378  0.64095157  0.15899205  0.17247987  0.99541736]]
[[ 0.56717324  0.44525549  0.03829114  0.65263158  0.52445763  0.23469388
   0.41361254  0.53552634  0.32042012  0.48235294  0.36708862  1.
   0.09457281  0.14929578  0.47755101  0.57693994  0.50097352  0.3355372
   0.29487181  0.48128343  0.05244755  0.22160494  0.08252199  0.05164557
   0.37349397  0.36827853  0.33539537  0.37080356  0.75        0.13043478
   0.04251405  0.46984571  0.87253594  0.43030763  0.79581618  0.32099271
   0.04792197  0.21342908  1.          0.35714287  0.          1.
   0.66269946  0.63343453  0.15761821  0.19280575  1.        ]]
validation loss is:  [0.00049112237]
step is  81000
total loss is  0.000443651
step is  82000
total loss is  0.000494163
step is  83000
total loss is  0.000427624
step is  84000
total loss is  0.000497921

step is  85000
total loss is  0.000476545
step is  86000
total loss is  0.00047271
step is  87000
total loss is  0.000467588
step is  88000
total loss is  0.000476055
step is  89000
total loss is  0.000455426
step is  90000
total loss is  0.000435803
step is  91000
total loss is  0.000499579
step is  92000
total loss is  0.000368181
step is  93000
total loss is  0.000484706
step is  94000
total loss is  0.000404658
step is  95000
total loss is  0.000447708
step is  96000
total loss is  0.000454015
step is  97000
total loss is  0.000441426
step is  98000
total loss is  0.000443749
step is  99000
total loss is  0.000433807

In [15]:
train_autoencode.to_csv("../../data/train_scaled_encoded.csv", index=False)
test_autoencode.to_csv("../../data/test_scaled_encoded.csv", index=False)

### Swap vaso and iv input, fixing glitch

In [16]:
train_encoded = pd.read_csv('../../data/train_scaled_encoded.csv')
test_encoded = pd.read_csv('../../data/test_scaled_encoded.csv')

In [17]:
temp = train_encoded['vaso_input']
train_encoded['vaso_input'] = train_encoded['iv_input']
train_encoded['iv_input'] = temp

In [18]:
train_encoded.head()

,0,1,2,3,4,5,6,7,8,9,...,194,195,196,197,198,199,vaso_input,iv_input,reward,icustayid
0,0.064802,0.044244,0.037107,0.059904,0.046192,0.053970,0.082275,0.050313,0.116449,0.043997,...,0.040003,0.117637,0.061369,0.051312,0.121394,0.047884,0.0,0.0,15.0,12.0
1,0.063519,0.067414,0.046285,0.060904,0.046157,0.045159,0.053256,0.067262,0.086092,0.074481,...,0.054532,0.083738,0.069601,0.077168,0.084418,0.048673,0.0,0.0,15.0,12.0
2,0.054806,0.066314,0.046150,0.064969,0.043769,0.042330,0.053180,0.061933,0.094193,0.067433,...,0.052888,0.072617,0.077050,0.076517,0.071960,0.049371,0.0,0.0,15.0,12.0
3,0.044274,0.047118,0.041674,0.049126,0.029567,0.063013,0.080330,0.076667,0.143153,0.031403,...,0.047660,0.040665,0.105482,0.089489,0.093178,0.060669,0.0,0.0,15.0,12.0
4,0.032231,0.049927,0.077559,0.049616,0.057226,0.116102,0.064314,0.028499,0.097456,0.060871,...,0.067804,0.053272,0.116516,0.057016,0.024232,0.065007,4.0,4.0,15.0,14.0

In [19]:
temp = test_encoded['vaso_input']
test_encoded['vaso_input'] = test_encoded['iv_input']
test_encoded['iv_input'] = temp

In [20]:
test_encoded.head()

,0,1,2,3,4,5,6,7,8,9,...,194,195,196,197,198,199,vaso_input,iv_input,reward,icustayid
0,0.021211,0.028594,0.036054,0.035177,0.017385,0.033671,0.061322,0.010933,0.070122,0.080753,...,0.028383,0.034694,0.069472,0.011394,0.042277,0.011151,4.0,4.0,15.0,61.0
1,0.026839,0.038263,0.049377,0.042598,0.023414,0.028162,0.041845,0.013686,0.041322,0.118021,...,0.031515,0.024888,0.072656,0.018667,0.028841,0.011225,4.0,4.0,15.0,61.0
2,0.020956,0.037757,0.040827,0.043374,0.018417,0.034716,0.038117,0.014242,0.048841,0.116788,...,0.041911,0.020986,0.075815,0.020533,0.030378,0.012508,4.0,4.0,15.0,61.0
3,0.021644,0.037319,0.040187,0.053057,0.023536,0.039801,0.031888,0.013176,0.042813,0.121452,...,0.046401,0.017948,0.079662,0.021929,0.035035,0.013749,4.0,4.0,15.0,61.0
4,0.021647,0.040819,0.041316,0.049927,0.024191,0.039771,0.031439,0.012899,0.046829,0.131231,...,0.044421,0.017218,0.085879,0.025691,0.036103,0.014266,4.0,4.0,15.0,61.0

In [21]:
train_encoded.to_csv("../../data/train_scaled_encoded.csv", index=False)
test_encoded.to_csv("../../data/test_scaled_encoded.csv", index=False)

In [22]:
losses = [0.0982328,0.0733788,0.0571428,0.050553,0.0441328,0.0260805,0.0235437,0.0196456,0.0180331,0.0156168,0.0125812,0.0113878,0.00986484,0.00885993,0.00770599,0.00676957,0.00612195,0.00518439,0.00487075,0.00416981,0.0036631,0.00327092,0.00343543,0.00270168,0.0024088,0.00226782,0.00200392,0.00189824,0.00168429,0.00187243,0.0017625,0.00154069,0.00135107,0.0012432,0.0011839,0.00129685,0.00136126,0.0011969,0.00114256,0.00106463,0.0009524,0.00104332,0.0011232,0.000881697,0.000888103,0.000939946,0.000838807,0.000850197,0.000747317,0.000744563,0.000805789,0.000728338,0.000806852,0.000704113,0.000621048,0.000706232,0.00059969,0.000720266,0.000639709,0.00062372,0.000582317,0.000591075,0.000667023,0.000581891,0.000609561,0.000541731,0.00052279,0.000566309,0.000565176,0.000566283,0.000481784,0.000539299,0.000538973,0.000514208,0.000511358,0.000493816,0.000477208,0.000538729,0.000548364,0.000470602,0.000405979,0.000468141,0.00046181,0.000453733,0.000477661,0.000453062,0.000451573,0.000419774,0.000491614,0.000395685,0.000403904,0.000451452,0.000380449,0.000404947,0.000381785,0.000418023,0.000402506,0.000427586,0.000392169]

In [23]:
steps = [1000,2000,3000,4000,5000,6000,7000,8000,9000,10000,11000,12000,13000,14000,15000,16000,17000,18000,19000,20000,21000,22000,23000,24000,25000,26000,27000,28000,29000,30000,31000,32000,33000,34000,35000,36000,37000,38000,39000,40000,41000,42000,43000,44000,45000,46000,47000,48000,49000,50000,51000,52000,53000,54000,55000,56000,57000,58000,59000,60000,61000,62000,63000,64000,65000,66000,67000,68000,69000,70000,71000,72000,73000,74000,75000,76000,77000,78000,79000,80000,81000,82000,83000,84000,85000,86000,87000,88000,89000,90000,91000,92000,93000,94000,95000,96000,97000,98000,99000]

In [24]:
% matplotlib inline
losses = pd.DataFrame()