### sparse Autoencoder for states

In [1]:
import tensorflow as tf
import keras
import numpy as np
import math
import os
import random
import numpy as np
import pandas as pd
from pandas import DataFrame
import pickle
import math
import copy
from sklearn.model_selection import train_test_split

Using TensorFlow backend.

In [2]:
state_features = ['Albumin', 'Arterial_BE', 'Arterial_lactate', 'Arterial_pH', 'BUN', 'CO2_mEqL', 'Calcium', 'Chloride', 'Creatinine', 'DiaBP', 'FiO2_1', 'GCS', 'Glucose', 'HCO3', 'HR', 'Hb', 'INR', 'Ionised_Ca', 'Magnesium', 'MeanBP', 'PT', 'PTT', 'PaO2_FiO2', 'Platelets_count', 'Potassium', 'RR', 'SGOT', 'SGPT', 'SIRS', 'SOFA', 'Shock_Index', 'Sodium', 'SpO2', 'SysBP', 'Temp_C', 'Total_bili', 'WBC_count', 'Weight_kg', 'age', 'elixhauser', 'gender', 'mechvent', 'output_4hourly', 'output_total', 'paCO2', 'paO2', 're_admission']
print (state_features)

['Albumin', 'Arterial_BE', 'Arterial_lactate', 'Arterial_pH', 'BUN', 'CO2_mEqL', 'Calcium', 'Chloride', 'Creatinine', 'DiaBP', 'FiO2_1', 'GCS', 'Glucose', 'HCO3', 'HR', 'Hb', 'INR', 'Ionised_Ca', 'Magnesium', 'MeanBP', 'PT', 'PTT', 'PaO2_FiO2', 'Platelets_count', 'Potassium', 'RR', 'SGOT', 'SGPT', 'SIRS', 'SOFA', 'Shock_Index', 'Sodium', 'SpO2', 'SysBP', 'Temp_C', 'Total_bili', 'WBC_count', 'Weight_kg', 'age', 'elixhauser', 'gender', 'mechvent', 'output_4hourly', 'output_total', 'paCO2', 'paO2', 're_admission']

In [3]:
train_df = pd.read_csv('../../data/train_scaled.csv')

In [4]:
train_df.head()

,bloc,icustayid,gender,age,elixhauser,re_admission,SOFA,SIRS,Weight_kg,GCS,...,output_4hourly,cumulated_balance_tev,sedation,mechvent,rrt,died_in_hosp,mortality_90d,reward,vaso_input,iv_input
0,0.000000,12.0,1.0,0.203388,0.000000,0.0,0.304348,0.25,0.183842,1.000000,...,0.000000,0.177479,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.222560,12.0,1.0,0.203388,0.000000,0.0,0.130435,0.50,0.183842,1.000000,...,0.782139,0.175772,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.356608,12.0,1.0,0.203388,0.000000,0.0,0.086957,0.50,0.183842,1.000000,...,0.767260,0.174328,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.452837,12.0,1.0,0.203388,0.000000,0.0,0.217391,0.50,0.183842,1.000000,...,0.000000,0.174328,0.0,0.0,0.0,0.0,0.0,15.0,0.0,0.0
4,0.000000,14.0,0.0,0.909010,0.142857,0.0,0.217391,0.50,0.204211,0.047619,...,0.657302,0.179999,1.0,1.0,0.0,0.0,1.0,0.0,0.0,4.0

In [5]:
keys = train_df.keys()

In [6]:
test_df = pd.read_csv('../../data/test_scaled.csv')

In [7]:
test_df.head()

,bloc,icustayid,gender,age,elixhauser,re_admission,SOFA,SIRS,Weight_kg,GCS,...,output_4hourly,cumulated_balance_tev,sedation,mechvent,rrt,died_in_hosp,mortality_90d,reward,vaso_input,iv_input
0,0.000000,61.0,0.0,0.3779,0.230769,0.0,0.545455,0.75,0.926956,0.40625,...,0.000000,0.601591,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
1,0.222560,61.0,0.0,0.3779,0.230769,0.0,0.363636,0.75,0.926956,0.37500,...,0.747928,0.607028,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2,0.356608,61.0,0.0,0.3779,0.230769,0.0,0.363636,1.00,0.926956,0.34375,...,0.713579,0.611279,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
3,0.452837,61.0,0.0,0.3779,0.230769,0.0,0.318182,1.00,0.926956,0.31250,...,0.711891,0.615618,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
4,0.527957,61.0,0.0,0.3779,0.230769,0.0,0.318182,1.00,0.926956,0.28125,...,0.726051,0.619879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0

In [8]:
X_train, X_val, _, _ = train_test_split(train_df, train_df, test_size=0.2, random_state=42)

In [9]:
training_df = pd.DataFrame(X_train, columns=keys)
validating_df = pd.DataFrame(X_val, columns=keys)

In [10]:
training_df.sample(2).loc[:,state_features].head()

,Albumin,Arterial_BE,Arterial_lactate,Arterial_pH,BUN,CO2_mEqL,Calcium,Chloride,Creatinine,DiaBP,...,Weight_kg,age,elixhauser,gender,mechvent,output_4hourly,output_total,paCO2,paO2,re_admission
30477,0.421099,0.459854,0.039929,0.635088,0.712926,0.290816,0.465969,0.396579,0.385824,0.441882,...,0.308797,0.826305,0.500000,0.0,0.0,0.729513,0.778110,0.183564,0.447642,0.0
125960,0.410757,0.474453,0.048734,0.705263,0.630160,0.255102,0.418848,0.463158,0.270786,0.598824,...,0.283662,0.446361,0.285714,1.0,1.0,0.820955,0.659016,0.151781,0.241727,1.0

In [93]:
n_input = len(state_features)
n_hidden_1 = 200
weights = {
    'encoder_h1': tf.Variable(tf.random_normal([n_input, n_hidden_1])),
    'decoder_h1': tf.Variable(tf.random_normal([n_hidden_1, n_input])),
}
biases = {
    'encoder_b1': tf.Variable(tf.zeros([n_hidden_1])),
    'decoder_b1': tf.Variable(tf.zeros([n_input])),
}

In [94]:
class AutoEncoder:
    def __init__(self):
        self.input_size = n_input
        self.batch_size = tf.placeholder(tf.int32)
        self.sparsity_dist = tf.fill([self.batch_size, n_hidden_1], 0.05)
        self.X = tf.placeholder("float", [None, self.input_size])
        self.layer_1_a = tf.nn.sigmoid(tf.add(tf.matmul(self.X, weights['encoder_h1']),
                                   biases['encoder_b1']))
        self.layer_1_d = tf.nn.sigmoid(tf.add(tf.matmul(self.layer_1_a, weights['decoder_h1']),
                                   biases['decoder_b1']))
        self.target_y = self.X
        self.kl = tf.reduce_mean(tf.reduce_sum(tf.multiply(self.sparsity_dist, tf.log(self.sparsity_dist/self.layer_1_a)) + \
                                   tf.multiply((1-self.sparsity_dist),tf.log((1-self.sparsity_dist)/(1-self.layer_1_a))), axis =1))
        #self.kl = tf.reduce_mean(tf.contrib.keras.losses.kullback_leibler_divergence(self.sparsity_dist, self.layer_1_a))  
    # regularisation term logic - loss at the start is roughly 60, of this 0.5 is reconstruction loss.  
        self.loss = tf.reduce_mean(tf.pow(self.target_y - self.layer_1_d, 2)) + 0.0001 * self.kl
        #tf.summary.scalar('loss', self.loss)
        #self.accuracy = tf.reduce_mean(tf.metrics.accuracy(self.layer_1_d, self.target_y))
        #tf.summary.scalar('acc', self.acc)
        #self.loss = tf.reduce_mean(tf.pow(self.target_y - self.layer_1_d, 2))
        self.optimizer = tf.train.AdamOptimizer(learning_rate=1e-4).minimize(self.loss)

In [95]:
def eval_on_val():
    x = validating_df.loc[:,state_features]
    l = sess.run([autoencoder.loss], feed_dict={autoencoder.X:x, autoencoder.batch_size:X_val.shape[0]})
    print ("validation loss is: ", l)

In [105]:
batch_size = 100
autoencoder = AutoEncoder()
#tf.summary.scalar('loss', autoencoder.loss)
# tf.summary.scalar('acc', autoencoder.acc)
#merged = tf.summary.merge_all()
saver = tf.train.Saver()

init = tf.global_variables_initializer()

with tf.Session() as sess:
    #writer = tf.summary.FileWriter('logs/sparse_auto', sess.graph)
    sess.run(init)
    # Training cycle
    for step in range(100000):
        #sum_loss = 0
        a = training_df.sample(n=batch_size)
        cur_state = a.loc[:, state_features]
        _, l = sess.run([autoencoder.optimizer, autoencoder.loss], feed_dict={autoencoder.X:cur_state, autoencoder.batch_size : batch_size})
        #sum_loss += l
        #writer.add_summary(summary, step)
        if step % 1000==0 and step > 0:
            print ("step is ", step )
            #print ("total loss is ", sum_loss)
            print ("total loss is ", l)
            sum_loss = 0
        if step % 20000 == 0 and step >0:
            b = training_df.sample(n=1)
            cur_state_trial = b.loc[:, state_features]
            target_y, reconstruction = sess.run([autoencoder.target_y,autoencoder.layer_1_d],feed_dict={autoencoder.X:cur_state_trial})
            print (reconstruction)
            print (target_y)
        if step % 20000 == 0 and step >0:
            eval_on_val()
    #save_path = saver.save(sess, "sparse_autoencoder_model/model.ckpt")
    #print ('model saved to ', save_path)
    train_states = train_df.loc[:,state_features]
    train_repr = sess.run([autoencoder.layer_1_a], feed_dict={autoencoder.X:train_states})

    train_autoencode = pd.DataFrame(train_repr[0])
    train_autoencode['vaso_input'] = train_df['vaso_input']
    train_autoencode['iv_input'] = train_df['iv_input']
    train_autoencode['reward'] = train_df['reward']
    train_autoencode['icustayid'] = train_df['icustayid']

    test_states = test_df.loc[:,state_features]
    test_repr = sess.run([autoencoder.layer_1_a], feed_dict={autoencoder.X:test_states})
    test_autoencode = pd.DataFrame(test_repr[0])
    test_autoencode['vaso_input'] = test_df['vaso_input']
    test_autoencode['iv_input'] = test_df['iv_input']
    test_autoencode['reward'] = test_df['reward']
    test_autoencode['icustayid'] = test_df['icustayid']

step is  1000
total loss is  0.0982328
step is  2000
total loss is  0.0733788
step is  3000
total loss is  0.0571428
step is  4000
total loss is  0.050553
step is  5000
total loss is  0.0441328
step is  6000
total loss is  0.0260805
step is  7000
total loss is  0.0235437
step is  8000
total loss is  0.0196456
step is  9000
total loss is  0.0180331
step is  10000
total loss is  0.0156168
step is  11000
total loss is  0.0125812
step is  12000
total loss is  0.0113878
step is  13000
total loss is  0.00986484
step is  14000
total loss is  0.00885993
step is  15000
total loss is  0.00770599
step is  16000
total loss is  0.00676957
step is  17000
total loss is  0.00612195
step is  18000
total loss is  0.00518439
step is  19000
total loss is  0.00487075
step is  20000
total loss is  0.00416981
[[ 0.27022541  0.41355208  0.02706414  0.74386322  0.46368784  0.21767643
   0.40284488  0.44468108  0.26737663  0.54049104  0.05323806  0.97447157
   0.18100199  0.13828522  0.35282469  0.64310336  0.48134494  0.2319455
   0.26259547  0.33874798  0.03992222  0.10684714  0.12217063  0.1166772
   0.23276064  0.27069455  0.35739693  0.37921005  0.05200157  0.13470908
   0.02019363  0.48042145  0.93824577  0.57626015  0.86684048  0.16555053
   0.00525677  0.25509715  0.8735376   0.20360687  0.99398369  0.00375083
   0.02462947  0.04711955  0.18428953  0.21135105  0.99741107]]
[[ 0.32572219  0.47445256  0.03481013  0.69473684  0.47520223  0.25510204
   0.44502616  0.48342106  0.2707864   0.48847058  0.13924052  1.
   0.1220849   0.17605634  0.36734694  0.66875583  0.45519358  0.31861934
   0.26666668  0.37896612  0.03608391  0.14259259  0.14337426  0.12637974
   0.28674698  0.23210831  0.40322873  0.43471524  0.          0.17391305
   0.02783819  0.54810661  0.82167786  0.50550705  0.81959665  0.19647789
   0.02078032  0.23985638  0.83619344  0.2857143   1.          0.          0.
   0.          0.14010508  0.21438849  1.        ]]
validation loss is:  [0.0042212619]
step is  21000
total loss is  0.0036631
step is  22000
total loss is  0.00327092
step is  23000
total loss is  0.00343543
step is  24000
total loss is  0.00270168
step is  25000
total loss is  0.0024088
step is  26000
total loss is  0.00226782
step is  27000
total loss is  0.00200392
step is  28000
total loss is  0.00189824
step is  29000
total loss is  0.00168429
step is  30000
total loss is  0.00187243
step is  31000
total loss is  0.0017625
step is  32000
total loss is  0.00154069
step is  33000
total loss is  0.00135107
step is  34000
total loss is  0.0012432
step is  35000
total loss is  0.0011839
step is  36000
total loss is  0.00129685
step is  37000
total loss is  0.00136126
step is  38000
total loss is  0.0011969
step is  39000
total loss is  0.00114256
step is  40000
total loss is  0.00106463
[[ 0.33707982  0.4855299   0.05617567  0.59660971  0.49933559  0.23072286
   0.34776276  0.50364351  0.35896221  0.49602664  0.21785179  0.96539813
   0.09284577  0.13986456  0.48417038  0.4589785   0.67163694  0.26485869
   0.25325376  0.37685269  0.14057523  0.28618777  0.04603966  0.09407677
   0.19666944  0.33755001  0.60546863  0.59368026  0.74941176  0.39287677
   0.04483605  0.4309634   0.92170107  0.42481738  0.75072306  0.48262569
   0.02450015  0.45021987  0.77002734  0.66469437  0.03142821  0.0382237
   0.67084593  0.64100623  0.18765905  0.086647    0.97312963]]
[[ 0.34042552  0.46277371  0.10791139  0.59157896  0.51524591  0.29591838
   0.30366492  0.47763157  0.32042012  0.47710407  0.2236287   1.
   0.08035382  0.08450704  0.47409734  0.46298289  0.66941071  0.26504618
   0.29487181  0.37021801  0.17272727  0.30925927  0.02396981  0.10075949
   0.15662651  0.36423153  0.58747256  0.55660337  0.75        0.39130434
   0.04384377  0.3941094   0.91883129  0.41423938  0.7841152   0.48680204
   0.03668363  0.44462985  0.75830716  0.64285713  0.          0.
   0.65730202  0.64141876  0.2469352   0.04330935  1.        ]]
validation loss is:  [0.0010785972]
step is  41000
total loss is  0.0009524
step is  42000
total loss is  0.00104332
step is  43000
total loss is  0.0011232
step is  44000
total loss is  0.000881697
step is  45000
total loss is  0.000888103
step is  46000
total loss is  0.000939946
step is  47000
total loss is  0.000838807
step is  48000
total loss is  0.000850197
step is  49000
total loss is  0.000747317
step is  50000
total loss is  0.000744563
step is  51000
total loss is  0.000805789
step is  52000
total loss is  0.000728338
step is  53000
total loss is  0.000806852
step is  54000
total loss is  0.000704113
step is  55000
total loss is  0.000621048
step is  56000
total loss is  0.000706232
step is  57000
total loss is  0.00059969
step is  58000
total loss is  0.000720266
step is  59000
total loss is  0.000639709
step is  60000
total loss is  0.00062372
[[ 0.29710048  0.38101763  0.04994951  0.64001983  0.65582031  0.1643434
   0.38268426  0.59128773  0.39682126  0.478302    0.18087108  0.96679562
   0.23778132  0.13980104  0.45003614  0.48714638  0.63421297  0.31395915
   0.27381718  0.33050886  0.1198177   0.20923956  0.10151142  0.10720025
   0.33715361  0.31332964  0.4337666   0.53048104  0.76139313  0.17776462
   0.03428908  0.55997038  0.86861056  0.3874163   0.78383994  0.34744704
   0.02569457  0.29557529  0.92317206  0.44947955  0.00990326  0.01248629
   0.67484432  0.70545697  0.11575522  0.17409992  0.98602933]]
[[ 0.29347029  0.36739659  0.04902426  0.64912283  0.63989329  0.1632653
   0.39267015  0.57171053  0.37684327  0.46745098  0.1772152   1.
   0.27512091  0.13380282  0.45238096  0.4830583   0.62565029  0.31543589
   0.29487181  0.3137255   0.13916084  0.19977954  0.10227273  0.11240506
   0.33734939  0.30947775  0.42952695  0.53162658  0.75        0.17391305
   0.04444445  0.55189341  0.82167786  0.38992277  0.77449578  0.32367334
   0.03011026  0.31059247  1.          0.42857143  0.          0.
   0.64084822  0.68530762  0.09048453  0.16726619  1.        ]]
validation loss is:  [0.00063499517]
step is  61000
total loss is  0.000582317
step is  62000
total loss is  0.000591075
step is  63000
total loss is  0.000667023
step is  64000
total loss is  0.000581891
step is  65000
total loss is  0.000609561
step is  66000
total loss is  0.000541731
step is  67000
total loss is  0.00052279
step is  68000
total loss is  0.000566309
step is  69000
total loss is  0.000565176
step is  70000
total loss is  0.000566283
step is  71000
total loss is  0.000481784
step is  72000
total loss is  0.000539299
step is  73000
total loss is  0.000538973
step is  74000
total loss is  0.000514208
step is  75000
total loss is  0.000511358
step is  76000
total loss is  0.000493816
step is  77000
total loss is  0.000477208
step is  78000
total loss is  0.000538729
step is  79000
total loss is  0.000548364
step is  80000
total loss is  0.000470602
[[ 0.56863046  0.5512771   0.06094697  0.70530921  0.48271647  0.2822437
   0.48121268  0.53218609  0.24782434  0.50276095  0.37762156  0.75627702
   0.14674577  0.18578881  0.52721673  0.45656323  0.49335781  0.3484644
   0.26000792  0.4030253   0.04844587  0.20133314  0.10768197  0.17008176
   0.24773546  0.29617792  0.48779768  0.4979912   0.22050054  0.16209073
   0.05167749  0.56372112  0.51426405  0.39881343  0.7898947   0.46173981
   0.02298304  0.36054403  0.71711057  0.09409894  0.98641217  0.98485863
   0.79558611  0.80477726  0.2304232   0.31597078  0.98478359]]
[[ 0.56052822  0.54744524  0.06533593  0.69473684  0.47282705  0.29591838
   0.4764398   0.53842103  0.2493353   0.54494119  0.36708862  0.66666669
   0.14938205  0.18309858  0.51734692  0.46800175  0.49705932  0.36091396
   0.25641027  0.39786097  0.05414585  0.1792769   0.13178885  0.18936709
   0.25301206  0.28471953  0.48045877  0.5016737   0.25        0.17391305
   0.04782116  0.56577837  0.53976619  0.4144322   0.79212612  0.4700442
   0.02396098  0.37127468  0.67353731  0.07142857  1.          1.
   0.79062849  0.82325977  0.21599533  0.30791366  1.        ]]
validation loss is:  [0.00047717273]
step is  81000
total loss is  0.000405979
step is  82000
total loss is  0.000468141
step is  83000
total loss is  0.00046181
step is  84000
total loss is  0.000453733
step is  85000
total loss is  0.000477661

step is  86000
total loss is  0.000453062
step is  87000
total loss is  0.000451573
step is  88000
total loss is  0.000419774
step is  89000
total loss is  0.000491614
step is  90000
total loss is  0.000395685
step is  91000
total loss is  0.000403904
step is  92000
total loss is  0.000451452
step is  93000
total loss is  0.000380449
step is  94000
total loss is  0.000404947
step is  95000
total loss is  0.000381785
step is  96000
total loss is  0.000418023
step is  97000
total loss is  0.000402506
step is  98000
total loss is  0.000427586
step is  99000
total loss is  0.000392169

In [107]:
train_autoencode.to_csv("../../data/train_scaled_encoded.csv", index=False)
test_autoencode.to_csv("../../data/test_scaled_encoded.csv", index=False)

### Swap vaso and iv input, fixing glitch

In [12]:
train_encoded = pd.read_csv('../../data/train_scaled_encoded.csv')
test_encoded = pd.read_csv('../../data/test_scaled_encoded.csv')

In [14]:
temp = train_encoded['vaso_input']
train_encoded['vaso_input'] = train_encoded['iv_input']
train_encoded['iv_input'] = temp

In [15]:
train_encoded.head()

,0,1,2,3,4,5,6,7,8,9,...,194,195,196,197,198,199,vaso_input,iv_input,reward,icustayid
0,0.029027,0.061212,0.224086,0.079448,0.052524,0.077151,0.103817,0.063714,0.032102,0.042459,...,0.083823,0.053838,0.081020,0.057297,0.030372,0.047363,0,0.0,0.0,12.0
1,0.031518,0.078677,0.120369,0.040228,0.047623,0.104624,0.093498,0.073046,0.035958,0.056553,...,0.088714,0.073047,0.083202,0.043883,0.036930,0.057726,0,0.0,0.0,12.0
2,0.030942,0.083416,0.106333,0.040481,0.039120,0.098819,0.077658,0.074696,0.041053,0.053553,...,0.092754,0.079161,0.082560,0.041910,0.036587,0.067986,0,0.0,0.0,12.0
3,0.042970,0.050963,0.090261,0.093201,0.031332,0.057674,0.032040,0.054802,0.061447,0.053960,...,0.098049,0.074196,0.088113,0.045784,0.041096,0.129189,0,0.0,15.0,12.0
4,0.064572,0.084793,0.065976,0.070753,0.063990,0.051591,0.050112,0.049624,0.092619,0.080058,...,0.032011,0.081824,0.037519,0.061251,0.071471,0.039540,0,4.0,0.0,14.0

In [16]:
temp = test_encoded['vaso_input']
test_encoded['vaso_input'] = test_encoded['iv_input']
test_encoded['iv_input'] = temp

In [17]:
test_encoded.head()

,0,1,2,3,4,5,6,7,8,9,...,194,195,196,197,198,199,vaso_input,iv_input,reward,icustayid
0,0.044787,0.024944,0.059501,0.186372,0.099174,0.010116,0.015910,0.031792,0.063170,0.050696,...,0.037952,0.041529,0.046699,0.054380,0.082892,0.012378,0,4.0,0.0,61.0
1,0.048257,0.029508,0.033046,0.102542,0.107019,0.015018,0.014971,0.034197,0.057205,0.072662,...,0.037210,0.051388,0.044145,0.039312,0.096143,0.013473,0,4.0,0.0,61.0
2,0.041906,0.028968,0.028705,0.111719,0.098205,0.013579,0.012648,0.027884,0.074506,0.081935,...,0.037256,0.055131,0.042269,0.039004,0.103266,0.015244,0,4.0,0.0,61.0
3,0.040383,0.029019,0.029167,0.131740,0.099840,0.013389,0.012455,0.028260,0.072425,0.088626,...,0.037022,0.057600,0.039294,0.038362,0.117384,0.015660,0,4.0,0.0,61.0
4,0.045685,0.029040,0.027817,0.137894,0.106901,0.013968,0.012697,0.028393,0.073113,0.088150,...,0.036816,0.058196,0.038383,0.038041,0.123431,0.014925,0,4.0,0.0,61.0

In [18]:
train_encoded.to_csv("../../data/train_scaled_encoded.csv", index=False)
test_encoded.to_csv("../../data/test_scaled_encoded.csv", index=False)